{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}

    <main class="main-content-container">

        <div class="main-content main-content-list container">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://blog.trello.com/hs-fs/Imported_Blog_Media/tarefas.jpg" alt="Temporario">
                    <h2>Matheus Eduardo Loeblein</h2>
                </div>
            </div>
        </div>

    </main>

</body>

</html>